
<h1 class="tag">Créditos</h1>

<table style="width:100%;text-align:left;">
	
	<tr valign="top">
		<td style="width: 1%;padding:.5em;">
			<img src="images/author.gif" style="width:80px;">
		</td>
		<td style="padding:.5em;">
			
			<big><strong>Juan Ángel Celdrán</strong></big>
			
			<hr style="margin: .5em 0;">
			
				<div><a target="_blank" 
					href="mailto:jaceldran@gmail.com">
					jaceldran@gmail.com
				</a></div>
				
				<div><a target="_blank" 
					href="https://www.linkedin.com/in/jaceldran">
					Perfil en LinkedIn
				</a></div>
				
			
			
		</td>
	</tr>
	
</table>