
<h1 class="tag">Créditos</h1>

<table style="width:100%;text-align:left;">
	
	<tr valign="top">
		<td style="width: 1%;padding:.5em;">
			<img src="images/author.png" style="width:80px;">
		</td>
		<td style="padding:.5em;">
			<strong>Juan Ángel Celdrán</strong>
			<div><small>jaceldran@gmail.com</small></div>
		</td>
	</tr>
	
</table>