
<table style="width:100%;text-align:left;">
	<caption style="padding:1em;text-align:left;background:#333;color:#ccc;">
		<h3>
			Créditos
		</h3>
	</caption>
	<tr valign="top">
		<td style="width: 1%;padding:.5em .5em .5em 0;">
			<img src="images/author.png" style="width:80px;">
		</td>
		<td style="padding:.5em;">
			<strong>Juan Ángel Celdrán</strong>
			<div><small>jaceldran@gmail.com</small></div>
		</td>
	</tr>
</table>