<h1 class="tag">!Bienvenido a <%= title %>!</h1>
	
<p>
	El portal donde podrá crear sus propios juegos!
</p>
	
<hr>	
	
<p>
	<a href="/quizes">
		<button type="button">
			Comience a jugar
		</button>
	</a>
</p>
