body {
	background: #333;
}

#page-wrap:after {
	content: "Layout [smartphone]";
	border-radius: 3px;
	background-color: #ffd;
	color: #c00;
	font-size: medium;
	margin: .25em;
	padding: 0 .25em;
	float: right;
}

h2 span, section h3 {
	display: none;
}

body {
	font-size: xx-large;
}

footer, input {
	font-size: large;
}