body {
	background: #333;
}

#page-wrap:after {
	content: "[smartphone]";
	font-size: medium;	
	margin: .25em;
	border-radius: 3px;
	display: inline-block;
	background-color: #c00;
	color: #eee;
	padding: .1em .25em;
}

h2 span, section h3 {
	display: none;
}

body {
	font-size: x-large;
}

footer, input {
	font-size: large;
}

/*
 * .rem se aplica p.e. a los labels de formularios donde
 * que se suelen cargar en el valor por eso se pueden ocultar
 */

.rem {
	display:none;
}