body {
	background: #999;
}

#page-wrap:after {
	content: "Layout [wide]";
	border-radius: 3px;
	background-color: #ffd;
	color: #c00;
	font-size: medium;
	margin: .25em;
	padding: 0 .25em;
	float: right;
}

nav {
	float: left;
	width: 15%;
	height: 200px;
}

nav span {
	margin: 0px 100px 0px 0px;
}

section {
	float: right;
	width: 80%;
	height: 200px;
}

footer {
	clear: both;
	display: block;
}