
<h1 class="tag">Estadísticas</h1>

<table style="width:auto;">

<tr>
	<th>Concepto</th>
	<th>Contador</th>
</tr>
	
<% for (index in counts) { %>

<tr>
	<td><%=index%></td>
	<td align="center">
		<span class="count">
			<%=counts[index]%>
		</span>
	</td>
</tr>	

<% } %>
	
</table>