<h1 class="tag">Login</h1>

<form method='POST' action='/login'>

  <p>
    <label for="login">Usuario:</label>
    <input type="text" id="login" name="login"/>
  </p>

  <p>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password">
  </p>

  <p>
    <input name="commit" type="submit" value="Iniciar sesión">
  </p>

</form>